h1 {
    color: black;
  font-size: 100%;
}

table.table1 {
  text-align: middle;
  width: 450px
}

th.th1 {
border: 1px solid black;
font-size: 100%;
width: 150px;
}


table.table2 {
    text-align: left;
}


