* {
  margin:0;
  font-size: 25px;
}

div.tctv1 {
  background-color: #20232a;
  height: 70px;
  margin-left: 0;
  margin-right: 0;
}

a.hobwqm {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 10.5%;
  text-decoration: none;
  font-size: 25px;
  overflow:hidden;
  
}

a.hobwqm:hover {
  background-color: #ddd;
  color: black;
}

td.alignmiddle {
  text-align: center;
  width: 300px;
}

div.tctv2 {
  margin-left: 50px;
  margin-right: 50px;
}
