{% extends 'base.html' %}


{% block content %}

<br>
<h1>About me</h1>
<br>
<h>Hi, I'm Alex Sun, an analyst who has a passion for coding. I like to explore the beauty of programming and automation.<br><br>
    "Any sufficiently advanced technology is indistinguishable from magic.""  --Arthur C. Clarke <br><br>
    That is very true. Think about it, if we gave someone from 300 hundred years ago an iPhone, that would be nothing short of true magic. Technology has always been a deciding factor in human history, especially when it comes to wars or other forms of competition. <br><br>
    I want to develop a deeper understanding of modern day technology, and that's why I started programming, and it's basically a free way to tap into this field. I have a lot of friends who work in tech, and they are all doing great. This is my true passion.

</h>
{% endblock %}