{% extends 'base.html' %}{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/base.css' %}" type="text/css" />
<br>
<h>Please check out some of the projects I did in the past:</h><br><br>
<h1>To-do list</h1>
A project based on Flask which allows you to add, update and delete to-do items and keeps track of the time stamp. It follows the simple M-V-C pattern and uses a SQLite database that comes with Flask.
Check our the project here: 
<br><a href='https://todoappsqc.herokuapp.com/' class='mhl1'>Link</a><br><br><hr><br>

<h1>Zillow API Tool</h1>
A web application that connects to Zillow's API to get the information such as estimated value, longitute, zip code for a list of properties you upload. You can upload a csv file containing the street address, city and state, and it will return an output csv file with the additional information for the addresses. This is useful in helping institutional investors in the real estate space estimate the value of their own portfolios or the the portfolios they underwrite.
<br><a href='https://zillowapitool.herokuapp.com//' class='mhl1'>Link</a><br><br><hr><br>

{% endblock %}